<div>
    <h1>Hello</h1>

    @{ Breakpoint(); }

    @if (Model != null)
    {
        <h2>Hello @Model</h2>
    }

    <h3>111</h3>

    @if (Model != null)
    {
        <h2>Hello @Model</h2>
    }

    <h3>111</h3>

    @if (Model != null)
    {
        <h2>Hello @Model</h2>
    }
</div>